		<!-- BEGIN CONTENT WRAPPER -->
		<div class="content">
			<div class="container">
				<div class="row">
				
					<!-- BEGIN MAIN CONTENT -->
					<div class="main col-sm-8 col-md-offset-2">
						
						<p class="center">Praesent id lectus commodo, porttitor nunc in, consequat lacus. Aliquam vel varius sapien. Vestibulum pulvinar elit ut nisl egestas aliquam. Nullam suscipit nunc vel magna mattis vestibulum. Proin sit amet nulla orci. Sed eleifend adipiscing sapien, eget luctus libero consequat ac. Morbi ac est ipsum.</p>
						<br/>
						<p class="center">
							Morbi eget dui leo. Sed rutrum urna id tellus euismod gravida. Praesent placerat, mauris ac pellentesque fringilla, tortor libero condimentum mi, at fermentum tortor velit eu felis. Aliquam bibendum risus at lectus condimentum aliquam. Integer eros leo, consectetur non mauris at, aliquam consectetur nibh. Pellentesque vulputate gravida ante, vel pellentesque ante mollis ac. Donec at tristique nulla, vitae facilisis metus.
							<br/><br/>
							Sed nec rhoncus felis, vitae ultricies risus. Nam sit amet risus non dui ultrices tempus quis a est. Vivamus nec dictum est, at adipiscing purus.
							<br/><br/><br/>
							<!-- data-slide-to="contact-agent" -->
							<a href="mailto:agencedelavilledieu@orange.fr" class="btn btn-fullcolor">Contacter l'agence</a>
							<br/><br/>
						</p>

						<!-- BEGIN AGENT DETAIL -->
						<div class="agent-detail clearfix">
							<div class="image col-md-5">
								<%= image_tag('JeanPhi.jpg', size: "307x307") %>
								<!-- <img src="http://placehold.it/307x307" alt="" /> -->
							</div>
							
							<div class="info col-md-7">
								<header>
									<h2>Jean-Philippe Ritt <small>Directeur associé</small></h2>
								</header>
								
								<ul class="contact-us">
									<li><i class="fa fa-envelope"></i><a href="mailto:agencedelavilledieu@orange.fr">agencedelavilledieu@orange.fr</a></li>
									<li><i class="fa fa-map-marker"></i> Centre commercial de La Villedieu, Avenue de la Villedieu, 78990 Élancourt</li>
									<li><i class="fa fa-phone"></i> +33 1 30 62 26 04</li>
								</ul>
							</div>
						</div>
						<!-- END AGENT DETAIL -->

						<!-- BEGIN AGENT DETAIL -->
						<div class="agent-detail clearfix">
							<div class="image col-md-5">
								<%= image_tag('Antonio.jpg', size: "307x307") %>
								<!-- <img src="http://placehold.it/307x307" alt="" /> -->
							</div>
							
							<div class="info col-md-7">
								<header>
									<h2>Antonio Orefice <small>Directeur associé</small></h2>
								</header>
								
								<ul class="contact-us">
									<li><i class="fa fa-envelope"></i><a href="mailto:agencedelavilledieu@orange.fr">agencedelavilledieu@orange.fr</a></li>
									<li><i class="fa fa-map-marker"></i> Centre commercial de La Villedieu, Avenue de la Villedieu, 78990 Élancourt</li>
									<li><i class="fa fa-phone"></i> +33 6 47 20 86 43</li>
								</ul>
							</div>
						</div>
						<!-- END AGENT DETAIL -->
						
						<!-- BEGIN CONTACT FORM -->
<!-- 						<h1 class="section-title" id="contact-agent">Contact Agent</h1>
						<form class="form-style">						
							<div class="col-sm-6">
								<input type="text" name="Name" placeholder="Name" class="form-control required fromName" />
							</div>
							
							<div class="col-sm-6">
								<input type="email" name="Email" placeholder="Email" class="form-control required fromEmail"  />
							</div>
							
							<div class="col-sm-12">
								<input type="text" name="Subject" placeholder="Subject" class="form-control required subject"  />
								<textarea name="Message" placeholder="Message" class="form-control required"></textarea> 
							</div>

							<div class="center">
								<button type="submit" class="btn btn-default-color submit_form"><i class="fa fa-envelope"></i> Send Message</button>
							</div>
						</form> -->
						<!-- END CONTACT FORM -->
						
					</div>	
					<!-- END MAIN CONTENT -->

				</div>
			</div>
		</div>
		<!-- END CONTENT WRAPPER -->