		<!-- BEGIN CONTENT WRAPPER -->
		<div class="content">
			<div class="container">
				<div class="row">
				
					<!-- BEGIN MAIN CONTENT -->
					<div class="main col-sm-8 col-md-offset-2">
						
						
						<p class="center">
							Afin d’optimiser la vente de votre bien, nous avons crée un site internet permettant de mettre nos exclusivités en fichier commun. Cette association (VIP : Ventes Immobilières des Professionnels) est constituée de partenaires choisis pour la qualité de leur travail et de leur déontologie. Nos emplacements géographiques nous permettent de connaître parfaitement les spécificitées de chaque quartier.
							<br/><br/><br/>
							<!-- data-slide-to="contact-agent" -->
							<p class="center pad-left-40">
								<a href="mailto:agencedelavilledieu@orange.fr" class="btn btn-fullcolor">Contacter l'agence</a>
							</p>
							<br/>

							
						</p>

						<!-- BEGIN AGENT DETAIL -->
						<div class="agent-detail clearfix">
							<div class="image col-md-5">
								<%= image_tag('JeanPhi.jpg', size: "307x307", alt: "La Villedieu") %>
							</div>
							
							<div class="info col-md-7">
								<header>
									<h2>Jean-Philippe Ritt <small>Directeur associé</small></h2>
								</header>
								
								<ul class="contact-us">
									<li><i class="fa fa-envelope"></i><a href="mailto:agencedelavilledieu@orange.fr">agencedelavilledieu@orange.fr</a></li>
									<li><i class="fa fa-map-marker"></i>Centre Commercial de la Villedieu 78990 ELANCOURT</li>
									<li><i class="fa fa-phone"></i> 06 45 84 71 09</li>
								</ul>
							</div>
						</div>
						<!-- END AGENT DETAIL -->

						<!-- BEGIN AGENT DETAIL -->
						<div class="agent-detail clearfix">
							<div class="image col-md-5">
								<%= image_tag('Antonio.jpg', size: "307x307", alt: "Agence immobiliere") %>
							</div>
							
							<div class="info col-md-7">
								<header>
									<h2>Antonio Orefice <small>Directeur associé</small></h2>
								</header>
								
								<ul class="contact-us">
									<li><i class="fa fa-envelope"></i><a href="mailto:agencedelavilledieu@orange.fr">agencedelavilledieu@orange.fr</a></li>
									<li><i class="fa fa-map-marker"></i>Centre Commercial de la Villedieu 78990 ELANCOURT</li>
									<li><i class="fa fa-phone"></i> 06 47 20 86 43</li>
								</ul>
							</div>
						</div>
						<!-- END AGENT DETAIL -->
						
						<!-- BEGIN CONTACT FORM -->
<!-- 						<h1 class="section-title" id="contact-agent">Contact Agent</h1>
						<form class="form-style">						
							<div class="col-sm-6">
								<input type="text" name="Name" placeholder="Name" class="form-control required fromName" />
							</div>
							
							<div class="col-sm-6">
								<input type="email" name="Email" placeholder="Email" class="form-control required fromEmail"  />
							</div>
							
							<div class="col-sm-12">
								<input type="text" name="Subject" placeholder="Subject" class="form-control required subject"  />
								<textarea name="Message" placeholder="Message" class="form-control required"></textarea> 
							</div>

							<div class="center">
								<button type="submit" class="btn btn-default-color submit_form"><i class="fa fa-envelope"></i> Send Message</button>
							</div>
						</form> -->
						<!-- END CONTACT FORM -->
						
					</div>	
					<!-- END MAIN CONTENT -->

				</div>
			</div>
		</div>
		<!-- END CONTENT WRAPPER -->