<div class="action-box">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 center">
				<h2>Cozy - Real Estate Template it's Awesome!<br/>It offers you a lot of great features.</h2>
				<div><a href="http://themeforest.net/user/WiselyThemes" target="_blank" class="btn btn-default btn-lg">Buy Now!</a></div>
			</div>
		</div>
	</div>
</div>