<!-- BEGIN FOOTER -->
<footer id="footer">
	<div id="footer-top" class="container">
		<div class="row">
			<div class="block col-sm-4">
				<%= image_tag('logo3.jpg', class: "rad-10") %>
				<br><br>
				<p>Notre agence est située sur Elancourt proche de la Commanderie des templiers et vous propose des annonces immobilières de location, vente à Maurepas, Elancourt, Le Mesnil Saint Denis…</p>
				<br>
				<ul>
			</div>
			<div class="block col-sm-4">
				<h3>Contact Info</h3>
				<ul class="footer-contacts">
					<li><i class="fa fa-map-marker"></i>Centre Commercial de la Villedieu 78990 ELANCOURT</li>
					<li><i class="fa fa-clock-o"></i>Du Mardi au Samedi de 9h30 – 12h30 et de 14h30 – 19h</li>
					<li><i class="fa fa-phone"></i> 01 30 62 26 04</li>
					<li><i class="fa fa-envelope"></i> <a href="mailto:agencedelavilledieu@orange.fr">agencedelavilledieu@orange.fr</a></li>
				</ul>
			</div>
			<div class="block col-sm-4">
				<h3>Liens Utiles</h3>
				<ul class="footer-links">
					<li><%= link_to 'Accueil', root_path %></li>
					<li><%= link_to 'Consulter nos biens', houses_path %></li>
					<li><%= link_to 'Contacter nous', pages_contact_path %> </li>
				</ul>
			</div>
		</div>
					<div class="block col-sm-12">
						<p class="center">	Carte professionnelle transaction n°2175 : Préfecture des Yvelines | Garantie par CEGC, 128 rue de la Boétie 75378 Paris cedex</p>
						<p class="center">Siège social : Centre Commercial de la Villedieu 78990 ELANCOURT | Montant de la garantie financière : 110 000 €</p>
						<p class="center">Raison sociale : Agence de la Villedieu | RCS VERSAILLES 515 346 203 | Forme sociale : SARL</p>
			</div>
	</div>
	
	
	<!-- BEGIN COPYRIGHT -->
	<div id="copyright">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					&copy; 2014 Agence de la Villedieu. Tout droits réservés. Developpé par <a href="http://www.maximeorefice.me" target="_blank">Maxime Orefice</a>
					
					<!-- BEGIN SOCIAL NETWORKS -->
					<!-- <ul class="social-networks">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#"><i class="fa fa-rss"></i></a></li>
					</ul> -->
					<!-- END SOCIAL NETWORKS -->
				
				</div>
			</div>
		</div>
	</div>
	<!-- END COPYRIGHT -->
	
</footer>