<!-- BEGIN FOOTER -->
<footer id="footer">
	<div id="footer-top" class="container">
		<div class="row">
			<div class="block col-sm-4">
				<a href="index.html"><%= image_tag 'logo.png' %></a>
				<br><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<div class="block col-sm-4">
				<h3>Contact Info</h3>
				<ul class="footer-contacts">
					<li><i class="fa fa-map-marker"></i> Centre commercial de La Villedieu, Avenue de la Villedieu, 78990 Élancourt</li>
					<li><i class="fa fa-phone"></i> +33 1 30 62 26 04</li>
					<li><i class="fa fa-envelope"></i> <a href="mailto:agencedelavilledieu@orange.fr">agencedelavilledieu@orange.fr</a></li>
				</ul>
			</div>
			<div class="block col-sm-4">
				<h3>Liens Utiles</h3>
				<ul class="footer-links">
					<li><%= link_to 'Biens Immobiliers', houses_path %></li>
					<li><%= link_to 'Contactez nous', page_path('contact') %> </li>
				</ul>
			</div>
		</div>
	</div>
	
	
	<!-- BEGIN COPYRIGHT -->
	<div id="copyright">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					&copy; 2014 Agence de la Villedieu. Tout droits réservés. Developpé par <a href="http://www.maximeorefice.me" target="_blank">Maxime Orefice</a>
					
					<!-- BEGIN SOCIAL NETWORKS -->
					<!-- <ul class="social-networks">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#"><i class="fa fa-rss"></i></a></li>
					</ul> -->
					<!-- END SOCIAL NETWORKS -->
				
				</div>
			</div>
		</div>
	</div>
	<!-- END COPYRIGHT -->
	
</footer>